*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

img{
    width: 100px;
    height: 100px;
}

body{
    font-family: Arial, sans-serif;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
}

   
.galeria {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    max-width: 1000px;
}

.item {
    text-align: center;
}

.item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.item p {
    margin-top: 8px;
    font-size: 14px;
}


@media (max-width: 800px) {
    .galeria {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .galeria {
        grid-template-columns: 1fr;
    }
}